.section {
  font-family: Inter;
  background: black;
  color: #fff;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Croissant One", cursive;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  font-family: "Croissant One", cursive;
  text-align: center;
  margin: 0;
  color: rgb(184, 21, 21);
}

h2 span {
  color: rgb(0, 255, 115);
}

.swiper-button-next path {
  color: #fff !important;
}
.swiper-button-prev path {
  color: #fff !important;
  fill: #fff !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff !important;
}

.swiper .swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  fill: #fff !important;
}

@media screen and (max-width: 800px) {
  .mySwiper {
    height: 25rem;
    width: 90% !important;
  }

  .mySwiper img {
    height: 25rem !important;
  }

  h1 {
    padding-top: 2rem;
  }

  h2 {
    padding-bottom: 2rem;
  }
}
